# Security
audit-level=moderate
@jsr:registry=https://npm.jsr.io

only-built-dependencies[]=@reown/appkit
only-built-dependencies[]=@stellar/stellar-sdk
only-built-dependencies[]=blake-hash
only-built-dependencies[]=secp256k1
only-built-dependencies[]=tiny-secp256k1
only-built-dependencies[]=usb
only-built-dependencies[]=protobufjs
only-built-dependencies[]=utf-8-validate
